body{
    background-color: #F1BAFF;
}

h1 {
   color: antiquewhite;
    text-align: center;
    background-color: rgba(137, 43, 226, 0.548);
} 
p{ 
    text-align: center;
}
h2{
    text-align: center;
}

#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
}
#titulo2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-style: italic;
}
#imagen{
    height: 250px; width: 250px;


}